.cards {
    display: block;
    margin: 0 70px 50px;
    padding-top: 30px;
    background-color: #FFFFFF;
    border-top: 1px solid #E8E8E8;
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
    column-gap: 20px;
    max-width: 1140px;
    row-gap: 30px;
    justify-content: center;
    padding: 0;
    margin: 50px auto 0;
    padding: 0;
}

.cards__button {
    width: 320px;
    display: block;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #FFFFFF;
    padding: 11px 0 9px;
    cursor: pointer;
    transition: .3s ease;
    margin: 80px auto 30px;
    text-align: center;
}

.cards__button:hover {
    opacity: 0.8;
}

/* @media screen and (max-width: 997px) {
    .cards {
        margin: 0 30px 50px;
    }
} */

@media screen and (max-width: 920px) {
    .cards {
        margin: 0 30px 70px;
    }

    .cards__list {
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        row-gap: 35px;
    }
}

@media screen and (max-width: 420px) {
    .cards {
        margin: 0 10px 50px;
        padding-top: 0px;
    }

    .cards__list {
        row-gap: 15px;
    }

    .cards__button {
        width: 240px;
    }
    
}