.filter {
    /* margin-right: 21px; */
    display: flex;
    align-items: center;
}

.filter__checkbox {
    margin-right: 14px;
    width: 36px;
    height: 20px;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    background-color: #EBEBEB;
    transition: 0.3s ease;
}

.filter__checkbox::after {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #F5F5F5;
    height: 16px;
    width: 16px;
    content: '';
    border-radius: 50%;
    transition: 0.3s ease;
}

.filter__checkbox:checked::after {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #FFFFFF;
    height: 16px;
    width: 16px;
    content: '';
    border-radius: 50%;
    transition: 0.3s ease;
    transform: translate(16px);
}

.filter__checkbox:checked {
    background-color: #2BE080;
}

.filter__label {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .filter__label {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 460px) {
    .filter__label {
        font-size: 11px;
        line-height: 18px;
    }
}