/* гамбургерн меню */

.burger-menu {
  display: none;
  z-index: 12;
  transition: 0.4s ease;
}

/* оверлей гамбургерного меню */

.burger-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

/* содержимое гамбургерного меню */

.burger-menu__content {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* кнопка открытия гамбургерного меню */

.burger-menu__open-button {
  display: none;
  background: none;
  border: none;
  margin-left: 10px;
  margin-bottom: 5px;
  background-image: url('../../images/burger-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  transition: 0.4s ease;
}

.burger-menu__open-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* кнопка закрытия гамбургерного меню */

.burger-menu__close-button {
  position: absolute;
  top: 26px;
  right: 30px;
  padding: 0;
  border: none;
  background: none;
  background-image: url('../../images/close-button.svg');
  width: 32px;
  height: 32px;
  transition: 0.4s ease;
}

.burger-menu__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* список ссылок гамбургерного меню */

.burger-menu__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 159px;
}

/* ссылка гамбургерного меню */

.burger-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #000000;
  transition: 0.4s ease;
}

/* активная ссылка гамбургерного меню */

.burger-menu-link_active {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
  transition: 0.4s ease;
}

.burger-menu__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.burger-menu__link_active:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* кнопка "Аккаунт" гамбургерного меню */

.burger-menu__account-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 32px;
  padding: 11px 2px 11px 9.5px;
  margin-bottom: 60px;
  border: none;
  border-radius: 20px;
  background-color: #F9F9F9;
  transition: 0.5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* иконка кнопки "Аккаунт" */

.burger-menu__account-icon {
  width: 26px;
  height: 26px;
  background: #F4F4F4;
  border-radius: 50px;
  background-image: url('../../images/account-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.burger-menu__account-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* 770px */

@media screen and (max-width: 770px) {
  .burger-menu {
    display: block;
  }

  .burger-menu__open-button {
    display: block;
  }
}

/* 360px */

@media screen and (max-width: 360px) {
  .burger-menu__content {
    width: 100%;
  }

  .burger-menu__items {
    margin-top: 174px;
    padding-left: 0;
  }

  .burger-menu__account-button {
    margin-bottom: 46px;
  }

  .burger-menu__open-button {
    width: 40px;
    height: 43px;
    margin-right: 5px;
  }

  .burger-menu__close-button {
    right: 20px;
  }
}