/* секция футер ("подвал сайта") */

.footer {
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

/* заголовок футера */

.footer__title {
    padding: 0 0 20px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
}

/* контент футера */

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* блок копирайт */

.footer__copyright {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

/* блок со ссылками */

.footer__links {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    gap: 20px;
    list-style: none;
}

/* ссылка футера */

.footer__link {
    color: #000000;
    text-decoration: none;
    transition: 0.4s ease;
}

.footer__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* 768px */

@media screen and (max-width: 768px) {
    .footer {
        padding: 39px 30px 20px;
        background-color: #FAFAFA;
    }
}

/* 420px */

@media screen and (max-width: 420px) {
    .footer {
        padding: 10px 10px;
        padding-top: 59px;
    }

    .footer__title {
        margin-bottom: 30px;
        padding-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 12px;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright {
        font-size: 12px;
        line-height: 15px;
        color: #A0A0A0;
        order: 2;      
    }
}